<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
  <h1>Welcome</h1>
  <blockquote>
    hello hacker. you must've come from hackclub/dns. i regret to inform you that this app currently doesn't work because Stripe refuses to believe that Wahoo Fish is a real business owner with SSN 123-45-6789. sad times.
  </blockquote>
  <button>
    <a href="/secret">access paid content</a>
  </button>
</body>
</html>