<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
  <h1>thanks for your purchase.</h1>
  <h2>here's the super secret paid content:</h2>
  <img src="https://cloud-8d1yo7sar-hack-club-bot.vercel.app/0image-15.png" alt="nose-head-thoughts-empty" />
  <p>nose-head-thoughts-empty</p>
  
  <button>
    <a href="/">go home</a>
  </button>
</body>
</html>